.app {
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  gap: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile__avt {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile__name {
}

.search {
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.input {
  outline: none;
  padding: 10px 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  padding: 10px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

.btn-primary {
  background-color: #d3445b;
  color: #fff;
}

#customers {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d3445b;
  color: white;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 50;
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}
.modal.active {
  display: flex;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
}
.modal__content {
  position: relative;
  z-index: 10;
  background: white;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.btn-add {
  width: 100%;
  margin-top: 10px;
}
